name: metrics
on: [push]

jobs:
  build:
    uses: .github/workflows/build.yaml

  track-metrics:
    needs: build
    runs-on: ubuntu-latest

    steps:
      - name: Generate metrics
        run: bun run scripts/generate-metrics.ts

      - name: Deploy to dashboard
        uses: benchmark-action/github-action-benchmark@v1
        with:
          tool: "customSmallerIsBetter"
          output-file-path: "output.json"
          github-token: ${{ secrets.GITHUB_TOKEN }}
          auto-push: true
