name: metrics
on: [push]

jobs:
  track-metrics:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: oven-sh/setup-bun@v1

      - name: Install & Build
        run: |
          bun install
          bun run build

      - name: Generate metrics
        run: bun run scripts/generate-metrics.ts

      - name: Deploy to dashboard
        uses: benchmark-action/github-action-benchmark@v1
        with:
          tool: "customSmallerIsBetter"
          output-file-path: "output.json"
          github-token: ${{ secrets.GITHUB_TOKEN }}
          auto-push: true
